body{
    background-image: url('img/bganjay.png'); /* path ke gambarnya */
    background-size: cover;   /* biar nutup seluruh layar */
    background-repeat: no-repeat; /* biar gak ngulang */
    background-attachment: fixed;
}
.wrapcardlogin{
    height: 100%;
    width: 100%;
    padding-inline: 500px;
    padding-block: 100px;
    
}
.cardlogin{
    background-color: rgba(255, 255, 255, 0.678);
    width: 400px;
    height: 550px;
    border-radius: 20px;
    padding-inline: 30%;
    padding-block: 40px;
}

.registertext{
    font-family: 'Jersey 15', sans-serif;
    font-size: 60px;
    color: #586D43;
}